dn: ou=Verwaltung,ou=Firma,{{ base_dn }}
objectclass: top
objectClass: organizationalUnit

dn: ou=users,ou=Verwaltung,ou=Firma,{{ base_dn }}
objectclass: top
objectClass: organizationalUnit

dn: ou=groups,ou=Verwaltung,ou=Firma,{{ base_dn }}
objectclass: top
objectClass: organizationalUnit
