dn: ou=Produktion,ou=Firma,{{ base_dn }}
objectclass: top
objectClass: organizationalUnit

dn: ou=users,ou=Produktion,ou=Firma,{{ base_dn }}
objectclass: top
objectClass: organizationalUnit

dn: ou=groups,ou=Produktion,ou=Firma,{{ base_dn }}
objectclass: top
objectClass: organizationalUnit
