dn: cn=Verwaltung,ou=groups,ou=Verwaltung,ou=Firma,{{ base_dn }}
objectClass: posixGroup
gidNumber: 10001
cn: posix_user_group
memberUID: al-verw
memberUID: u1-verw

dn: cn=Produktion,ou=groups,ou=Produktion,ou=Firma,{{ base_dn }}
objectClass: posixGroup
gidNumber: 10002
cn: posix_user_group
memberUID: al-prod
memberUID: u1-prod
